<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="cleanUpToolApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.aquenos.csstudio.archive.cassandra.cleanuptool.CleanUpToolApplication">
         </run>
      </application>
   </extension>

   <extension
         id="cleanUpToolProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.aquenos.csstudio.archive.cassandra.cleanuptool.cleanUpToolApp"
            name="ArchiveCleanUpTool">
         <property
               name="appName"
               value="ArchiveCleanUpTool">
         </property>
      </product>
   </extension>
</plugin>
